@charset "UTF-8";
@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    /*transform: translateX(-100px) rotate(-50deg);*/ }
  60% {
    /*transform: rotate(120deg);*/ }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

img {
  border: none; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* Para corrigir um deslizamento no final da anim. (imperceptivel) */
  margin-bottom: 6rem;
  /* Para o botão: A margem a dar entre o texto e o botão*/ }
  .heading-primary--main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .5rem;
    animation-name: moveInFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    margin-top: -1.5rem;
    font-family: 'Tangerine', cursive;
    text-transform: lowercase;
    display: block;
    font-size: 4.6rem;
    font-weight: 700;
    letter-spacing: 0;
    animation: moveInFromRight 1s ease-out; }

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 700;
  color: #982630;
  position: relative; }
  .heading-secondary--main {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .5rem; }
  .heading-secondary--sub {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
    display: table;
    top: 4rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-transform: lowercase;
    text-align: center;
    letter-spacing: .5rem; }
    .heading-secondary--sub::before, .heading-secondary--sub::after {
      border-top: 1px solid #6f1b23;
      content: "";
      display: table-cell;
      position: relative;
      top: 0.8em;
      width: 15%; }
    .heading-secondary--sub::before {
      right: 5%; }
    .heading-secondary--sub::after {
      left: 5%; }

.heading-terciario {
  position: relative;
  color: #982630;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* Para corrigir um deslizamento no final da anim. (imperceptivel) */
  margin-bottom: 6rem;
  /* Para o botão: A margem a dar entre o texto e o botão*/ }
  .heading-terciario--main {
    display: block;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: .5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation-name: moveInFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-terciario--sub {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .5rem;
    position: absolute;
    left: 50%;
    top: 3rem;
    transform: translateX(-50%);
    white-space: nowrap;
    animation-name: moveInFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-terciario--subsub {
    margin-top: 0rem;
    text-transform: lowercase;
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0;
    position: absolute;
    left: 50%;
    top: 5.6rem;
    transform: translateX(-50%);
    white-space: nowrap;
    animation: moveInFromRight 1s ease-out; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2.5rem; }

.u-center-text {
  text-align: center; }

.u-center-text {
  margin: 0 auto; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  /* a transição TEM QUE SER na transition state *. É para fazer uma animação smooth, caso contrário o transform é aplicado com "um salto" */
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  /* o -1px é em relação ao estado inicial*/
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  /* Por detrás do botão */
  content: "";
  /* É obrigatório*/
  display: inline-block;
  /* É obrigatório, mas pode não ser inline-block*/
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  /* por o relative em .btn:visited */
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInFromBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.feature-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .feature-box__foto {
    width: 20rem;
    margin-top: 4rem; }
  .feature-box__btn-box {
    position: absolute;
    left: 21rem;
    top: 30rem; }
  .feature-box__btn {
    width: 6rem; }

.header {
  height: 95vh;
  background-image: url(../img/banner-principal-Baixo.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 75vh);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 75vh); }
  .header__logo-box {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__logo {
    height: 13rem; }
  .header__text-box {
    position: absolute;
    top: 58%;
    /* Em relação ao elemento pai */
    left: 50%;
    /* Em relação ao elemento pai */
    transform: translate(-50%, -50%);
    /* Em relação ao próprio elemento */
    text-align: center; }

.row {
  max-width: 114rem;
  background-color: none;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    border: none;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.section-historia {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -30vh; }

.section-historia__text {
  padding-top: 8rem;
  text-align: justify; }

.section-historia__foto {
  width: 70rem;
  position: absolute;
  right: 3rem;
  top: 73.5vh; }

.section-fichas-tecnicas {
  padding: 20rem 0;
  background-image: linear-gradient(to top right, rgba(226, 55, 73, 0.1), rgba(111, 27, 35, 0.25)), url(../img/banner-vinhos-TXT-baixa.jpg);
  background-size: cover;
  background-position: bottom; }
