@charset "UTF-8";
/*
0-600px:        Phone
600-900px:      Tablet portait
900-1200px:     Tablet Landscape
[1200 - 1800]:  Estilos normais
1800px + :      Big Ddesktop

Breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDEM: base + typography > general layout + grid > page layout > components

1em = 16px;
*/
@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    /*transform: translateX(-100px) rotate(-50deg);*/ }
  60% {
    /*transform: rotate(120deg);*/ }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

@media (max-width: 75em) {
  font-size: 56.5%; }

@media (max-width: 56.25em) {
  font-size: 45%; }

@media (max-width: 37.5em) {
  font-size: 30%; }

@media (min-width: 112.5) {
  font-size: 75%; }

body {
  box-sizing: border-box; }

img {
  border: none; }

.wrapper {
  background-color: #fff;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    .wrapper {
      padding: 0; } }

.iframe-historia {
  padding: 0;
  border: none;
  width: 100%;
  height: 58rem; }
  @media (max-width: 56.25em) {
    .iframe-historia {
      width: 50%;
      height: 75rem; } }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* Para corrigir um deslizamento no final da anim. (imperceptivel) */
  margin-bottom: 6rem;
  /* Para o botão: A margem a dar entre o texto e o botão*/ }
  .heading-primary--main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.6rem;
    white-space: nowrap;
    animation: moveInFromLeft 2s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 2rem;
        letter-spacing: 0.1rem; } }
  .heading-primary--sub {
    margin-top: -1.5rem;
    font-family: 'Tangerine', cursive;
    text-transform: lowercase;
    display: block;
    font-size: 5rem;
    font-weight: normal;
    letter-spacing: 1.2rem;
    white-space: nowrap;
    animation: moveInFromRight 2s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 3rem;
        letter-spacing: 0.6rem; } }

.heading-secondary {
  color: #982630;
  position: relative; }
  .heading-secondary--main {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: .9rem; }
    @media (max-width: 75em) {
      .heading-secondary--main {
        font-size: 2.2rem;
        letter-spacing: .5rem; } }
    @media (max-width: 56.25em) {
      .heading-secondary--main {
        font-size: 2.2rem;
        letter-spacing: .5rem; } }
    @media (max-width: 37.5em) {
      .heading-secondary--main {
        font-size: 1.5rem; } }
  .heading-secondary--sub {
    font-family: 'Merriweather', serif;
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 300;
    display: table;
    top: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
    letter-spacing: .5rem; }
    .heading-secondary--sub::before, .heading-secondary--sub::after {
      border-top: 1px solid #6f1b23;
      content: "";
      display: table-cell;
      position: relative;
      top: 0.8em;
      width: 3rem; }
    .heading-secondary--sub::before {
      right: 5%; }
    .heading-secondary--sub::after {
      left: 5%; }
    @media (max-width: 75em) {
      .heading-secondary--sub {
        font-size: 2.2rem; } }
    @media (max-width: 56.25em) {
      .heading-secondary--sub {
        font-size: 2.2rem; } }
    @media (max-width: 37.5em) {
      .heading-secondary--sub {
        font-size: 2rem; } }

.heading-terciario {
  position: relative;
  color: #982630;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* Para corrigir um deslizamento no final da anim. (imperceptivel) */
  margin-bottom: 6rem;
  /* Para o botão: A margem a dar entre o texto e o botão*/ }
  .heading-terciario--main {
    display: block;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: .5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .heading-terciario--sub {
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    font-style: italic;
    font-weight: 400;
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .5rem;
    position: absolute;
    left: 50%;
    top: 3rem;
    transform: translateX(-50%);
    white-space: nowrap; }
  .heading-terciario--subsub {
    margin-top: 0rem;
    text-transform: lowercase;
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0;
    position: absolute;
    left: 50%;
    top: 5.6rem;
    transform: translateX(-50%);
    white-space: nowrap; }

.heading-secondary-inv {
  font-weight: 900;
  color: #982630;
  position: relative; }
  @media (max-width: 75em) {
    .heading-secondary-inv {
      margin-bottom: 10rem !important; } }
  @media (max-width: 56.25em) {
    .heading-secondary-inv {
      margin-bottom: 10rem !important; } }
  @media (max-width: 37.5em) {
    .heading-secondary-inv {
      margin-bottom: 10rem !important; } }
  .heading-secondary-inv--main {
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    font-style: italic;
    font-weight: 400;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    letter-spacing: .5rem; }
    @media (max-width: 75em) {
      .heading-secondary-inv--main {
        font-size: 3rem;
        letter-spacing: .5rem; } }
    @media (max-width: 56.25em) {
      .heading-secondary-inv--main {
        font-size: 2.5rem;
        letter-spacing: .5rem; } }
    @media (max-width: 37.5em) {
      .heading-secondary-inv--main {
        font-size: 2rem; } }
  .heading-secondary-inv--sub {
    font-family: 'Merriweather', serif;
    font-size: 5rem;
    font-style: italic;
    font-weight: 400;
    display: table;
    top: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5rem; }
    .heading-secondary-inv--sub::before, .heading-secondary-inv--sub::after {
      border-top: 1px solid #6f1b23;
      content: "";
      display: table-cell;
      position: relative;
      top: 0em;
      width: 3rem; }
    .heading-secondary-inv--sub::before {
      right: calc(5% + 2rem); }
    .heading-secondary-inv--sub::after {
      left: calc(5% + 2rem); }
    @media (max-width: 75em) {
      .heading-secondary-inv--sub {
        font-size: 3.5rem; } }
    @media (max-width: 56.25em) {
      .heading-secondary-inv--sub {
        font-size: 2.5rem; } }
    @media (max-width: 37.5em) {
      .heading-secondary-inv--sub {
        font-size: 2rem; } }

.card-foto-titulo {
  width: 22rem;
  margin-top: 5rem; }

.card-heading {
  text-transform: uppercase;
  color: #982630; }
  .card-heading:not(:first-child) {
    margin-top: 1rem; }

.card-firma {
  text-transform: uppercase; }

.card-local {
  text-transform: uppercase;
  font-weight: 900; }

.card-txt {
  line-height: 1.8rem; }

.socio-dados--nome {
  text-transform: uppercase;
  text-align: center; }

.socio-dados--cargo {
  text-align: center; }

.section-mensagens .coluna-mensagens-titulo {
  font-weight: 900;
  text-transform: uppercase;
  color: #982630; }

.section-mensagens .coluna-mensagens-texto:not(:last-child) {
  margin-bottom: 3rem; }

@media (max-width: 37.5em) {
  .section-mensagens .coluna-mensagens-texto {
    font-size: 1.3rem; } }

.section-mensagens .coluna-mensagens-autor {
  display: inline;
  font-weight: 900; }

.paragraph {
  text-align: justify; }
  .paragraph:not(:last-child) {
    margin-bottom: 2.5rem; }
    @media (max-width: 75em) {
      .paragraph:not(:last-child) {
        margin-bottom: 1.2rem; } }
    @media (max-width: 56.25em) {
      .paragraph:not(:last-child) {
        margin-bottom: 1.2rem; } }
    @media (max-width: 37.5em) {
      .paragraph:not(:last-child) {
        margin-bottom: 1.2rem; } }
  @media (max-width: 37.5em) {
    .paragraph {
      font-size: 1.3rem; } }

.footer {
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .footer {
      font-size: 1.5rem; }
      .footer__copyright {
        font-size: 1rem; } }
  @media (max-width: 37.5em) {
    .footer {
      font-size: 1.2rem; } }

.u-center-text {
  text-align: center; }

.u-center-text {
  margin: 0 auto; }

.u-margin-bottom-big {
  margin-bottom: 18rem; }

.u-margin-bottom-medium {
  margin-bottom: 9rem; }

.u-margin-bottom-small {
  margin-bottom: 4rem; }

.u-margin-top-super {
  margin-top: 20rem; }

.u-margin-top-big {
  margin-top: 18rem; }

.u-margin-top-medium {
  margin-top: 9rem; }

.u-margin-top-small {
  margin-top: 4rem; }

.u-line-height-paragraph-small {
  line-height: 1rem; }

.u-line-height-paragraph-medium {
  line-height: 2rem; }

.u-line-height-paragraph-large {
  line-height: 4rem; }

@font-face {
  font-family: Roboto;
  src: url(fonts/"Roboto 100.ttf");
  font-style: normal;
  font-weight: 100; }

@font-face {
  font-family: Roboto;
  src: url(fonts/"Roboto 300.ttf");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: Roboto;
  src: url(fonts/"Roboto 900.ttf");
  font-style: normal;
  font-weight: 900; }

@font-face {
  font-family: Roboto;
  src: url(fonts/"Roboto regular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: Merriweather;
  src: url(fonts/"Merriweather regular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: Merriweather;
  src: url(fonts/"Merriweather 300.ttf");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: Merriweather;
  src: url(fonts/"Merriweather 900.ttf");
  font-style: normal;
  font-weight: 900; }

@font-face {
  font-family: Merriweather;
  src: url(fonts/"Merriweather italic.ttf");
  font-style: italic;
  font-weight: normal; }

@font-face {
  font-family: Tangerine;
  src: url(fonts/"Tangerine regular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: Tangerine;
  src: url(fonts/"Tangerine 700.ttf");
  font-style: normal;
  font-weight: 700; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  /* a transição TEM QUE SER na transition state *. É para fazer uma animação smooth, caso contrário o transform é aplicado com "um salto" */
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  /* o -1px é em relação ao estado inicial*/
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--cor-vinho-tinto {
  background-color: #982630;
  color: #fff; }
  .btn--cor-vinho-tinto::after {
    background-color: #982630; }

.btn--cor-vinho-branco {
  background-color: #c5b205;
  color: #fff; }
  .btn--cor-vinho-branco::after {
    background-color: #c5b205; }

.btn::after {
  /* Por detrás do botão */
  content: "";
  /* É obrigatório*/
  display: inline-block;
  /* É obrigatório, mas pode não ser inline-block*/
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  /* por o relative em .btn:visited */
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInFromBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.feature-box {
  perspective: 1500rem;
  -moz-perspective: 1500rem;
  position: relative;
  height: 48rem; }
  .feature-box__side {
    height: 48rem;
    padding: 1.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .feature-box__side--front {
      background-color: white; }
    .feature-box__side--back {
      transform: rotateY(180deg);
      background-image: -moz-linear-gradient(to right bottom, rgba(255, 255, 255, 0.85), rgba(247, 247, 247, 0.85));
      background-image: -webkit-linear-gradient(to right bottom, rgba(255, 255, 255, 0.85), rgba(247, 247, 247, 0.85));
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.85), rgba(247, 247, 247, 0.85)); }
      .feature-box__side--back-1__heading, .feature-box__side--back-2__heading, .feature-box__side--back-3__heading, .feature-box__side--back-4__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: #fff;
        position: absolute;
        top: 2rem;
        left: 3.8rem;
        width: 85%; }
      .feature-box__side--back-1__heading-span, .feature-box__side--back-2__heading-span, .feature-box__side--back-3__heading-span, .feature-box__side--back-4__heading-span {
        padding: 0.65rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-image: -moz-linear-gradient(to right bottom, rgba(226, 55, 73, 0.85), rgba(152, 38, 48, 0.85));
        background-image: -webkit-linear-gradient(to right bottom, rgba(226, 55, 73, 0.85), rgba(152, 38, 48, 0.85));
        background-image: linear-gradient(to right bottom, rgba(226, 55, 73, 0.85), rgba(152, 38, 48, 0.85)); }
      .feature-box__side--back-1__details, .feature-box__side--back-2__details, .feature-box__side--back-3__details, .feature-box__side--back-4__details {
        padding-top: 9rem; }
        .feature-box__side--back-1__details ul, .feature-box__side--back-2__details ul, .feature-box__side--back-3__details ul, .feature-box__side--back-4__details ul {
          list-style: none; }
          .feature-box__side--back-1__details ul li, .feature-box__side--back-2__details ul li, .feature-box__side--back-3__details ul li, .feature-box__side--back-4__details ul li {
            text-align: center;
            font-size: 1.5rem;
            padding: 0.2rem; }
            .feature-box__side--back-1__details ul li:not(:last-child), .feature-box__side--back-2__details ul li:not(:last-child), .feature-box__side--back-3__details ul li:not(:last-child), .feature-box__side--back-4__details ul li:not(:last-child) {
              border-bottom: 1px solid #777; }
        .feature-box__side--back-1__details .key, .feature-box__side--back-2__details .key, .feature-box__side--back-3__details .key, .feature-box__side--back-4__details .key {
          font-weight: 900; }
      .feature-box__side--back-1__button, .feature-box__side--back-2__button, .feature-box__side--back-3__button, .feature-box__side--back-4__button {
        display: inline-block;
        white-space: nowrap;
        padding: 2rem;
        margin-left: 50%;
        transform: translateX(-50%); }
      .feature-box__side--back-1__details {
        line-height: 1.8rem; }
      .feature-box__side--back-2__details {
        line-height: 1.7rem; }
      .feature-box__side--back-2__heading-span {
        padding: 0.65rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-image: -moz-linear-gradient(to right bottom, rgba(255, 230, 6, 0.85), rgba(136, 122, 1, 0.85));
        background-image: -webkit-linear-gradient(to right bottom, rgba(255, 230, 6, 0.85), rgba(136, 122, 1, 0.85));
        background-image: linear-gradient(to right bottom, rgba(255, 230, 6, 0.85), rgba(136, 122, 1, 0.85)); }
      .feature-box__side--back-3__details {
        line-height: 2rem; }
      .feature-box__side--back-3__heading-span {
        padding: 0.65rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-image: -moz-linear-gradient(to right bottom, rgba(255, 230, 6, 0.85), rgba(136, 122, 1, 0.85));
        background-image: -webkit-linear-gradient(to right bottom, rgba(255, 230, 6, 0.85), rgba(136, 122, 1, 0.85));
        background-image: linear-gradient(to right bottom, rgba(255, 230, 6, 0.85), rgba(136, 122, 1, 0.85)); }
      .feature-box__side--back-4__details {
        line-height: 2.4rem; }
      .feature-box__side--back-4__heading-span {
        padding: 0.65rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-image: -moz-linear-gradient(to right bottom, rgba(226, 55, 73, 0.85), rgba(152, 38, 48, 0.85));
        background-image: -webkit-linear-gradient(to right bottom, rgba(226, 55, 73, 0.85), rgba(152, 38, 48, 0.85));
        background-image: linear-gradient(to right bottom, rgba(226, 55, 73, 0.85), rgba(152, 38, 48, 0.85)); }
  .feature-box:hover .feature-box__side--front {
    transform: rotateY(-180deg); }
  .feature-box:hover .feature-box__side--back {
    transform: rotateY(0); }
  .feature-box__foto {
    width: 20rem;
    margin-top: 4rem; }
  .feature-box__btn-box {
    position: absolute;
    left: 21rem;
    top: 20rem; }
  .feature-box__btn {
    width: 6rem; }

.card {
  margin: 3rem 11rem 0 11rem;
  padding: 6rem 3rem 3rem 3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25); }
  @media (max-width: 37.5em) {
    .card {
      margin: 3rem 6rem 0 6rem;
      padding: 6rem 3rem 3rem 3rem; } }
  .card-foto {
    width: 40rem;
    margin-left: -8rem; }
    @media (max-width: 56.25em) {
      .card-foto {
        margin-top: 0; } }
    @media (max-width: 37.5em) {
      .card-foto {
        width: 25rem;
        margin-left: -5rem; } }
  @media (max-width: 56.25em) {
    .card-foto-titulo {
      width: 15rem;
      margin-top: 0; } }
  @media (max-width: 37.5em) {
    .card-foto-titulo {
      width: 15rem;
      margin-top: 0; } }
  @media (max-width: 37.5em) {
    .card-txt {
      font-size: 1.3rem; } }
  @media (max-width: 37.5em) {
    .card {
      width: 25rem; } }

.socio-foto {
  display: block;
  width: 25rem;
  margin: 0 auto; }

.socio-dados--nome {
  display: block; }

.socio-dados--cargo {
  display: block; }

.socio--1 {
  float: right;
  margin-right: 8rem; }
  @media (max-width: 75em) {
    .socio--1 {
      float: none; } }
  @media (max-width: 56.25em) {
    .socio--1 {
      float: none;
      margin: 0; } }
  @media (max-width: 37.5em) {
    .socio--1 {
      float: none;
      margin: 0; } }

.socio--2 {
  float: left;
  margin-left: 3rem; }
  @media (max-width: 75em) {
    .socio--2 {
      float: none; } }
  @media (max-width: 56.25em) {
    .socio--2 {
      float: none;
      margin: 0; } }
  @media (max-width: 37.5em) {
    .socio--2 {
      float: none;
      margin: 0; } }

.section-quintas-titulo-main {
  margin-bottom: 5rem; }
  .section-quintas-titulo-main__foto {
    display: block;
    margin: 0 auto;
    width: 38rem; }

.section-quintas-fotos {
  /*img{
            display:block;
            width:100%;
          }*/ }
  .section-quintas-fotos--1 {
    display: block;
    width: 100%; }
  .section-quintas-fotos--2 {
    display: block;
    width: 100%; }
  .section-quintas-fotos--3 {
    display: block;
    width: 100%; }
  .section-quintas-fotos--4 {
    display: block;
    width: 100%; }
  .section-quintas-fotos--5 {
    display: block;
    width: 100%; }
  .section-quintas-fotos--6 {
    margin-top: 8rem; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 50rem;
    width: 75%;
    background-color: #fff;
    border-radius: 4px;
    opacity: 0;
    transform: translate(50%, -50%) scale(0.5);
    transition: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s;
    line-height: 1; }
  .popup__close:hover, .popup__close:active {
    color: #982630; }

.header {
  height: 95vh;
  background-image: url(../img/banner-principal-Baixo_tablet.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 85vh);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 85vh);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 85vh); }
  .header__logo-box {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 37.5em) {
      .header__logo-box {
        top: 10%; } }
    @media (max-width: 56.25em) {
      .header__logo-box {
        top: 15%; } }
  .header__logo {
    height: 13rem; }
    @media (max-width: 37.5em) {
      .header__logo {
        height: 10rem; } }
  .header__text-box {
    position: absolute;
    top: 58%;
    /* Em relação ao elemento pai */
    left: 50%;
    /* Em relação ao elemento pai */
    transform: translate(-50%, -50%);
    /* Em relação ao próprio elemento */
    text-align: center; }

.row {
  max-width: 114rem;
  background-color: none;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
    @media (max-width: 75em) {
      .row:not(:last-child) {
        margin-bottom: 2rem; } }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 2rem; } }
    @media (max-width: 37.5em) {
      .row:not(:last-child) {
        margin-bottom: 2rem; } }
  @media (max-width: 75em) {
    .row {
      max-width: 60rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 30rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    border: none;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 75em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
      @media (max-width: 37.5em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
    @media (max-width: 75em) {
      .row [class^="col-"] {
        width: 100% !important; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
    @media (max-width: 37.5em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  margin-top: -30vh;
  background-image: linear-gradient(to top left, #e23749, #6f1b23), url(../img/banner-principal-Baixo.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 85vh);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 85vh);
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 85vh);
  padding: 10rem 0; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 3rem 0;
      margin-top: -25vh;
      -webkit-clip-path: polygon(0 20vh, 100% 0, 100% 85vh, 0 95vh);
      -moz-clip-path: polygon(0 20vh, 100% 0, 100% 105vh, 0 135vh);
      clip-path: polygon(0 20vh, 100% 0, 100% 105vh, 0 135vh); } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 4rem;
        margin-top: 10rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
    @media (max-width: 56.25em) {
      .footer__logo {
        width: 10rem; } }
  .footer__navigation {
    border: none; }
    @media (max-width: 56.25em) {
      .footer__navigation .col-1-of-3 {
        margin-bottom: 1.5rem !important; } }
    @media (max-width: 37.5em) {
      .footer__navigation .col-1-of-3 {
        margin-bottom: 1rem !important; } }
  .footer__contacts {
    height: 1rem;
    border-top: 1px solid #f7f7f7; }
    @media (max-width: 56.25em) {
      .footer__contacts .col-1-of-3 {
        margin-bottom: 1.5rem !important; } }
    @media (max-width: 37.5em) {
      .footer__contacts .col-1-of-3 {
        margin-bottom: 1rem !important; } }
  .footer__contact-item {
    color: white;
    position: relative;
    margin-top: 1.5rem;
    display: inline-block; }
    .footer__contact-item--icon {
      width: 4rem; }
      @media (max-width: 56.25em) {
        .footer__contact-item--icon {
          width: 3rem; } }
    .footer__contact-item--text {
      white-space: nowrap;
      margin-left: 6rem;
      text-align: left;
      position: absolute;
      top: 0.8rem; }
      @media (max-width: 56.25em) {
        .footer__contact-item--text {
          top: 0.6rem;
          margin-left: 4rem; } }
  .footer__copyright {
    color: #f7f7f7;
    width: 80%;
    float: right; }
  .footer__list {
    list-style-type: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(::last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer__link:hover, .footer__link:active {
    color: #ffe606;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: scale(1.3); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  cursor: pointer;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 1002;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  text-align: center; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem;
      height: 3.5rem;
      width: 3.5rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#e23749, #6f1b23);
  z-index: 1000;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3rem;
      right: 3rem;
      height: 3.5rem;
      width: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1001;
  opacity: 0;
  width: 0;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 235%;
  transition: all 0.4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #6f1b23;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  @media (max-width: 37.5em) {
    .navigation__icon {
      margin-top: 0rem; } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #000;
    display: inline-block;
    transition: all .2s; }
    @media (max-width: 37.5em) {
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 1.5rem;
        height: 1px; } }
  .navigation__icon::before, .navigation__icon::after {
    content: " ";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -.8rem; }
    @media (max-width: 37.5em) {
      .navigation__icon::before {
        top: -.4rem; } }
  .navigation__icon::after {
    top: .8rem; }
    @media (max-width: 37.5em) {
      .navigation__icon::after {
        top: .4rem; } }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-historia {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -30vh; }
  @media (max-width: 75em) {
    .section-historia {
      padding-top: 15rem; } }
  .section-historia__text {
    padding-top: 4rem;
    text-align: justify; }
    @media (max-width: 75em) {
      .section-historia__text {
        width: 38rem;
        margin-left: -8rem; } }
    @media (max-width: 56.25em) {
      .section-historia__text {
        width: 50rem;
        margin: 0 auto; } }
    @media (max-width: 37.5em) {
      .section-historia__text {
        width: 28rem;
        margin: 0 auto; } }
  .section-historia__foto {
    width: 70rem;
    position: absolute;
    right: 3rem;
    top: 73.5vh; }
    @media (max-width: 75em) {
      .section-historia__foto {
        width: 50rem;
        top: 78vh; } }
    @media (max-width: 56.25em) {
      .section-historia__foto {
        width: 50rem;
        top: 78vh;
        right: 0; } }
    @media (max-width: 56.25em) {
      .section-historia__foto {
        width: 0rem; } }

.section-fichas-tecnicas {
  display: block;
  margin-top: -20rem;
  padding: 22rem 0;
  padding-bottom: 35rem;
  background-image: linear-gradient(to top right, rgba(226, 55, 73, 0), #6f1b23), url(../img/banner-vinhos-TXT-baixa-3_tablet.jpg);
  background-size: cover;
  background-position: 0rem -5rem;
  clip-path: polygon(0 20vh, 100% 0, 100% 80vh, 0 100vh);
  -webkit-clip-path: polygon(0 20vh, 100% 0, 100% 80vh, 0 100vh);
  -moz-clip-path: polygon(0 20vh, 100% 0, 100% 80vh, 0 100vh); }
  @media (max-width: 75em) {
    .section-fichas-tecnicas {
      clip-path: none;
      -webkit-clip-path: none;
      -moz-clip-path: none;
      margin-top: -10rem;
      padding-top: 11rem; } }

.section-guia {
  background-color: #f7f7f7;
  padding: 20rem 0 5rem 0;
  margin-top: -30rem; }
  @media (max-width: 75em) {
    .section-guia {
      padding-top: 10rem; } }

.section-equipa {
  background-color: #f7f7f7;
  padding: 5rem 0 10rem 0;
  margin-top: 0rem; }

.section-quintas {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -30rem; }
  @media (max-width: 75em) {
    .section-quintas {
      margin-top: -25rem; } }
  @media (max-width: 56.25em) {
    .section-quintas {
      margin-top: -25rem; } }
  @media (max-width: 37.5em) {
    .section-quintas {
      margin-top: -25rem; } }
  @media (max-width: 56.25em) {
    .section-quintas-fotos--6 {
      width: 0; } }
  @media (max-width: 75em) {
    .section-quintas-titulo-main__foto {
      width: 20rem; } }
  @media (max-width: 56.25em) {
    .section-quintas-titulo-main__foto {
      width: 20rem; } }
  @media (max-width: 37.5em) {
    .section-quintas-titulo-main__foto {
      width: 20rem; } }

.section-mensagens {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -40rem; }
  .section-mensagens-titulo-main {
    margin-bottom: 5rem; }
    @media (max-width: 75em) {
      .section-mensagens-titulo-main {
        margin-top: -120px; } }
    @media (max-width: 56.25em) {
      .section-mensagens-titulo-main {
        margin-top: -120px; } }
    @media (max-width: 37.5em) {
      .section-mensagens-titulo-main {
        margin-top: -120px; } }
    .section-mensagens-titulo-main__foto {
      display: block;
      margin: 0 auto;
      width: 38rem; }
      @media (max-width: 75em) {
        .section-mensagens-titulo-main__foto {
          width: 20rem; } }
      @media (max-width: 56.25em) {
        .section-mensagens-titulo-main__foto {
          width: 20rem; } }
      @media (max-width: 37.5em) {
        .section-mensagens-titulo-main__foto {
          width: 20rem; } }
  .section-mensagens .coluna-mensagens-titulo {
    border: none; }
  .section-mensagens .coluna-mensagens-texto {
    margin-top: 3rem; }
    .section-mensagens .coluna-mensagens-texto:not(:last-child) {
      margin-bottom: 3rem; }
