@charset "UTF-8";
@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    /*transform: translateX(-100px) rotate(-50deg);*/ }
  60% {
    /*transform: rotate(120deg);*/ }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

img {
  border: none; }

.wrapper {
  background-color: #fff;
  padding: 3rem; }

.iframe-historia {
  padding: 0;
  border: none;
  width: 100%;
  height: 58rem; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* Para corrigir um deslizamento no final da anim. (imperceptivel) */
  margin-bottom: 6rem;
  /* Para o botão: A margem a dar entre o texto e o botão*/ }
  .heading-primary--main {
    display: block;
    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: .6rem;
    animation: moveInFromLeft 2s ease-out; }
  .heading-primary--sub {
    margin-top: -1.5rem;
    font-family: 'Tangerine', cursive;
    text-transform: lowercase;
    display: block;
    font-size: 5.5rem;
    font-weight: normal;
    letter-spacing: 0;
    animation: moveInFromRight 2s ease-out; }

.heading-secondary {
  color: #982630;
  position: relative; }
  .heading-secondary--main {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: .9rem; }
  .heading-secondary--sub {
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    font-style: italic;
    font-weight: 300;
    display: table;
    top: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
    letter-spacing: .5rem; }
    .heading-secondary--sub::before, .heading-secondary--sub::after {
      border-top: 1px solid #6f1b23;
      content: "";
      display: table-cell;
      position: relative;
      top: 0.8em;
      width: 3rem; }
    .heading-secondary--sub::before {
      right: 5%; }
    .heading-secondary--sub::after {
      left: 5%; }

.heading-terciario {
  position: relative;
  color: #982630;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* Para corrigir um deslizamento no final da anim. (imperceptivel) */
  margin-bottom: 6rem;
  /* Para o botão: A margem a dar entre o texto e o botão*/ }
  .heading-terciario--main {
    display: block;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: .5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .heading-terciario--sub {
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    font-style: italic;
    font-weight: 400;
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .5rem;
    position: absolute;
    left: 50%;
    top: 3rem;
    transform: translateX(-50%);
    white-space: nowrap; }
  .heading-terciario--subsub {
    margin-top: 0rem;
    text-transform: lowercase;
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0;
    position: absolute;
    left: 50%;
    top: 5.6rem;
    transform: translateX(-50%);
    white-space: nowrap; }

.heading-secondary-inv {
  font-weight: 700;
  color: #982630;
  position: relative; }
  .heading-secondary-inv--main {
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    font-style: italic;
    font-weight: 400;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    letter-spacing: .5rem; }
  .heading-secondary-inv--sub {
    font-family: 'Merriweather', serif;
    font-size: 5rem;
    font-style: italic;
    font-weight: 400;
    display: table;
    top: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5rem; }
    .heading-secondary-inv--sub::before, .heading-secondary-inv--sub::after {
      border-top: 1px solid #6f1b23;
      content: "";
      display: table-cell;
      position: relative;
      top: 0em;
      width: 3rem; }
    .heading-secondary-inv--sub::before {
      right: calc(5% + 2rem); }
    .heading-secondary-inv--sub::after {
      left: calc(5% + 2rem); }

.card-foto-titulo {
  width: 22rem;
  margin-top: 5rem; }

.card-heading {
  text-transform: uppercase;
  color: #982630; }
  .card-heading:not(:first-child) {
    margin-top: 1rem; }

.card-firma {
  text-transform: uppercase; }

.card-local {
  text-transform: uppercase;
  font-weight: 900; }

.card-txt {
  line-height: 1.8rem; }

.socio-dados--nome {
  text-transform: uppercase;
  text-align: center; }

.socio-dados--cargo {
  text-align: center; }

.section-mensagens .coluna-mensagens-titulo {
  font-weight: 900;
  text-transform: uppercase;
  color: #982630; }

.section-mensagens .coluna-mensagens-texto:not(:last-child) {
  margin-bottom: 3rem; }

.section-mensagens .coluna-mensagens-autor {
  display: inline;
  font-weight: 900; }

.paragraph {
  font-size: 1.8rem;
  text-align: justify; }
  .paragraph:not(:last-child) {
    margin-bottom: 2.5rem; }

.u-center-text {
  text-align: center; }

.u-center-text {
  margin: 0 auto; }

.u-margin-bottom-big {
  margin-bottom: 18rem; }

.u-margin-bottom-medium {
  margin-bottom: 9rem; }

.u-margin-bottom-small {
  margin-bottom: 4rem; }

.u-margin-top-super {
  margin-top: 20rem; }

.u-margin-top-big {
  margin-top: 18rem; }

.u-margin-top-medium {
  margin-top: 9rem; }

.u-margin-top-small {
  margin-top: 4rem; }

.u-line-height-paragraph-small {
  line-height: 1rem; }

.u-line-height-paragraph-medium {
  line-height: 2rem; }

.u-line-height-paragraph-large {
  line-height: 4rem; }

@font-face {
  font-family: Roboto;
  src: url(fonts/"Roboto 100.ttf");
  font-style: normal;
  font-weight: 100; }

@font-face {
  font-family: Roboto;
  src: url(fonts/"Roboto 300.ttf");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: Roboto;
  src: url(fonts/"Roboto 900.ttf");
  font-style: normal;
  font-weight: 900; }

@font-face {
  font-family: Roboto;
  src: url(fonts/"Roboto regular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: Merriweather;
  src: url(fonts/"Merriweather regular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: Merriweather;
  src: url(fonts/"Merriweather 300.ttf");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: Merriweather;
  src: url(fonts/"Merriweather 900.ttf");
  font-style: normal;
  font-weight: 900; }

@font-face {
  font-family: Merriweather;
  src: url(fonts/"Merriweather italic.ttf");
  font-style: italic;
  font-weight: normal; }

@font-face {
  font-family: Tangerine;
  src: url(fonts/"Tangerine regular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: Tangerine;
  src: url(fonts/"Tangerine 700.ttf");
  font-style: normal;
  font-weight: 700; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  /* a transição TEM QUE SER na transition state *. É para fazer uma animação smooth, caso contrário o transform é aplicado com "um salto" */
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  /* o -1px é em relação ao estado inicial*/
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--cor-vinho-tinto {
  background-color: #982630;
  color: #fff; }
  .btn--cor-vinho-tinto::after {
    background-color: #982630; }

.btn--cor-vinho-branco {
  background-color: #c5b205;
  color: #fff; }
  .btn--cor-vinho-branco::after {
    background-color: #c5b205; }

.btn::after {
  /* Por detrás do botão */
  content: "";
  /* É obrigatório*/
  display: inline-block;
  /* É obrigatório, mas pode não ser inline-block*/
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  /* por o relative em .btn:visited */
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInFromBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.feature-box {
  perspective: 1500rem;
  -moz-perspective: 1500rem;
  position: relative;
  height: 48rem; }
  .feature-box__side {
    height: 48rem;
    padding: 1.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .feature-box__side--front {
      background-color: white; }
    .feature-box__side--back {
      transform: rotateY(180deg);
      background-image: -moz-linear-gradient(to right bottom, rgba(255, 255, 255, 0.85), rgba(247, 247, 247, 0.85));
      background-image: -webkit-linear-gradient(to right bottom, rgba(255, 255, 255, 0.85), rgba(247, 247, 247, 0.85));
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.85), rgba(247, 247, 247, 0.85)); }
      .feature-box__side--back-1__heading, .feature-box__side--back-2__heading, .feature-box__side--back-3__heading, .feature-box__side--back-4__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: #fff;
        position: absolute;
        top: 2rem;
        left: 3.8rem;
        width: 85%; }
      .feature-box__side--back-1__heading-span, .feature-box__side--back-2__heading-span, .feature-box__side--back-3__heading-span, .feature-box__side--back-4__heading-span {
        padding: 0.65rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-image: -moz-linear-gradient(to right bottom, rgba(226, 55, 73, 0.85), rgba(152, 38, 48, 0.85));
        background-image: -webkit-linear-gradient(to right bottom, rgba(226, 55, 73, 0.85), rgba(152, 38, 48, 0.85));
        background-image: linear-gradient(to right bottom, rgba(226, 55, 73, 0.85), rgba(152, 38, 48, 0.85)); }
      .feature-box__side--back-1__details, .feature-box__side--back-2__details, .feature-box__side--back-3__details, .feature-box__side--back-4__details {
        padding-top: 9rem; }
        .feature-box__side--back-1__details ul, .feature-box__side--back-2__details ul, .feature-box__side--back-3__details ul, .feature-box__side--back-4__details ul {
          list-style: none; }
          .feature-box__side--back-1__details ul li, .feature-box__side--back-2__details ul li, .feature-box__side--back-3__details ul li, .feature-box__side--back-4__details ul li {
            text-align: center;
            font-size: 1.5rem;
            padding: 0.2rem; }
            .feature-box__side--back-1__details ul li:not(:last-child), .feature-box__side--back-2__details ul li:not(:last-child), .feature-box__side--back-3__details ul li:not(:last-child), .feature-box__side--back-4__details ul li:not(:last-child) {
              border-bottom: 1px solid #777; }
        .feature-box__side--back-1__details .key, .feature-box__side--back-2__details .key, .feature-box__side--back-3__details .key, .feature-box__side--back-4__details .key {
          font-weight: 900; }
      .feature-box__side--back-1__button, .feature-box__side--back-2__button, .feature-box__side--back-3__button, .feature-box__side--back-4__button {
        display: inline-block;
        white-space: nowrap;
        padding: 2rem;
        margin-left: 50%;
        transform: translateX(-50%); }
      .feature-box__side--back-1__details {
        line-height: 1.8rem; }
      .feature-box__side--back-2__details {
        line-height: 1.7rem; }
      .feature-box__side--back-2__heading-span {
        padding: 0.65rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-image: -moz-linear-gradient(to right bottom, rgba(255, 230, 6, 0.85), rgba(136, 122, 1, 0.85));
        background-image: -webkit-linear-gradient(to right bottom, rgba(255, 230, 6, 0.85), rgba(136, 122, 1, 0.85));
        background-image: linear-gradient(to right bottom, rgba(255, 230, 6, 0.85), rgba(136, 122, 1, 0.85)); }
      .feature-box__side--back-3__details {
        line-height: 2rem; }
      .feature-box__side--back-3__heading-span {
        padding: 0.65rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-image: -moz-linear-gradient(to right bottom, rgba(255, 230, 6, 0.85), rgba(136, 122, 1, 0.85));
        background-image: -webkit-linear-gradient(to right bottom, rgba(255, 230, 6, 0.85), rgba(136, 122, 1, 0.85));
        background-image: linear-gradient(to right bottom, rgba(255, 230, 6, 0.85), rgba(136, 122, 1, 0.85)); }
      .feature-box__side--back-4__details {
        line-height: 2.4rem; }
      .feature-box__side--back-4__heading-span {
        padding: 0.65rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-image: -moz-linear-gradient(to right bottom, rgba(226, 55, 73, 0.85), rgba(152, 38, 48, 0.85));
        background-image: -webkit-linear-gradient(to right bottom, rgba(226, 55, 73, 0.85), rgba(152, 38, 48, 0.85));
        background-image: linear-gradient(to right bottom, rgba(226, 55, 73, 0.85), rgba(152, 38, 48, 0.85)); }
  .feature-box:hover .feature-box__side--front {
    transform: rotateY(-180deg); }
  .feature-box:hover .feature-box__side--back {
    transform: rotateY(0); }
  .feature-box__foto {
    width: 20rem;
    margin-top: 4rem; }
  .feature-box__btn-box {
    position: absolute;
    left: 21rem;
    top: 20rem; }
  .feature-box__btn {
    width: 6rem; }

.card {
  margin: 3rem 11rem 0 11rem;
  padding: 6rem 3rem 3rem 3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25); }
  .card-foto {
    width: 40rem;
    margin-left: -8rem; }

.socio-foto {
  display: block;
  width: 25rem;
  margin: 0 auto; }

.socio-dados--nome {
  display: block; }

.socio-dados--cargo {
  display: block; }

.header {
  height: 95vh;
  background-image: url(../img/banner-principal-Baixo.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 85vh);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 85vh);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 85vh); }
  .header__logo-box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__logo {
    height: 13rem; }
  .header__text-box {
    position: absolute;
    top: 58%;
    /* Em relação ao elemento pai */
    left: 50%;
    /* Em relação ao elemento pai */
    transform: translate(-50%, -50%);
    /* Em relação ao próprio elemento */
    text-align: center; }

.row {
  max-width: 114rem;
  background-color: none;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    border: none;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  height: 80vh;
  margin-top: -15rem;
  background-image: linear-gradient(to top left, #e23749, #6f1b23), url(../img/banner-principal-Baixo.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 20vh, 100% 0, 100% 105vh, 0 135vh);
  -webkit-clip-path: polygon(0 20vh, 100% 0, 100% 105vh, 0 135vh); }
  .footer__logo-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .footer__logo {
    height: 13rem; }
  .footer__text-box {
    position: absolute;
    width: 60%;
    border-top: 1px solid #fff;
    top: 60%;
    left: 50%;
    color: #fff;
    margin-top: 3rem;
    transform: translateX(-50%); }
    .footer__text-box__contacts {
      position: relative; }
      .footer__text-box__contacts__email {
        width: 40%;
        text-transform: lowercase;
        position: absolute;
        left: 9rem;
        top: 2rem;
        width: 30%; }
        .footer__text-box__contacts__email--icon {
          width: 4rem;
          margin-right: 1rem; }
        .footer__text-box__contacts__email--text {
          position: absolute;
          top: 0.8rem; }
      .footer__text-box__contacts__telefone {
        position: absolute;
        left: 41rem;
        top: 2rem;
        width: 30%;
        text-transform: lowercase; }
        .footer__text-box__contacts__telefone--icon {
          width: 4rem;
          margin-right: 1rem; }
        .footer__text-box__contacts__telefone--text {
          position: absolute;
          top: 0.8rem; }
      .footer__text-box__contacts__facebook {
        position: absolute;
        left: 58rem;
        top: 2rem;
        width: 30%;
        text-transform: lowercase; }
        .footer__text-box__contacts__facebook--icon {
          width: 4rem;
          margin-right: 1rem; }
        .footer__text-box__contacts__facebook--text {
          position: absolute;
          top: 0.8rem;
          color: white;
          text-decoration: none; }

.section-historia {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -30vh; }

.section-historia__text {
  padding-top: 4rem;
  text-align: justify; }

.section-historia__foto {
  width: 70rem;
  position: absolute;
  right: 3rem;
  top: 73.5vh; }

.section-fichas-tecnicas {
  margin-top: -20rem;
  padding: 22rem 0;
  padding-bottom: 35rem;
  background-image: linear-gradient(to top right, rgba(226, 55, 73, 0), #6f1b23), url(../img/banner-vinhos-TXT-baixa-3.png);
  background-size: cover;
  background-position: 0rem -5rem;
  clip-path: polygon(0 20vh, 100% 0, 100% 115vh, 0 135vh);
  -webkit-clip-path: polygon(0 20vh, 100% 0, 100% 115vh, 0 135vh); }

.section-guia {
  background-color: #f7f7f7;
  padding: 20rem 0 5rem 0;
  margin-top: -30rem; }

.section-equipa {
  background-color: #f7f7f7;
  padding: 1rem 0 10rem 0;
  margin-top: 0; }
  .section-equipa .socio {
    display: inline-block; }
    .section-equipa .socio--1 {
      float: right;
      margin-right: 8rem; }
    .section-equipa .socio--2 {
      float: left;
      margin-left: 3rem; }

.section-quintas {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -30rem; }
  .section-quintas-titulo-main {
    margin-bottom: 5rem; }
    .section-quintas-titulo-main__foto {
      display: block;
      margin: 0 auto;
      width: 38rem; }

.section-mensagens {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -30rem; }
  .section-mensagens-titulo-main {
    margin-bottom: 5rem; }
    .section-mensagens-titulo-main__foto {
      display: block;
      margin: 0 auto;
      width: 38rem; }
  .section-mensagens .coluna-mensagens-texto {
    margin-top: 3rem; }
    .section-mensagens .coluna-mensagens-texto:not(:last-child) {
      margin-bottom: 3rem; }
