//_variables
$cor-primaria-claro: #f86441;
$cor-primaria: #ab4e2f;
$cor-primaria-escuro: #7f3a22;

$cor-cinza-escuro:#777;
$cor-preta:#000;
$cor-preto:$cor-preta;
$cor-branca:#fff;
$cor-branco:$cor-branca;