//_variables

// BODY
$body-padding:3rem;

//GRELHA
$border: none;//1px dashed gray; //ou none
$cor-do-fundo:none;//#eee; //ou none

// CORES
$cor-primaria-claro: #e23749;
$cor-primaria: #982630;
$cor-primaria-escuro: #6f1b23;

$cor-secundaria-claro: #ffe606;
$cor-secundaria: #c5b205;
$cor-secundaria-escuro: #887a01;

$cor-cinza-escuro:#777;
$cor-cinza-claro-1:#f7f7f7;//Para a secção historia
$cor-preta:#000;
$cor-preto:$cor-preta;
$cor-branca:#fff;
$cor-branco:$cor-branca;


// TIPOGRAFIA
$default-text-size:1.6rem;


//Titulos
$cor-titulo-secundario:$cor-primaria;
$cor-titulo-terciario:$cor-primaria;
$tamanho-fonte-titulo-secundario:3.2rem;



//Sub titulos
$tamanho-fonte-subtitulo-secundario:3rem;
$entrelinhamento-titulo:3rem;
$separador-subtitulo:3rem;
$espaco-separador-subtitulo:5%;
$espessura-separador:1px;
$separador-alinhamento-vertical:0.8em;

$cor-separador:$cor-primaria-escuro;

// Texto
$espaco-entre-paragrafos:2.5rem;

// GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;


// ANIMATIONS
$initial-position-heading-primary:10rem;
$initial-position-heading-secondary:10rem;