.footer{
  margin-top:-30vh;
  background-image: linear-gradient(
                    to top left,
                    rgba($cor-primaria-claro,1),
                    rgba($cor-primaria-escuro,1)),
                    url(../img/banner-principal-Baixo.jpg);
  background-size: cover;
  background-position: top;
  padding-top:12rem;
// Recorte
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
    -webkit-clip-path: polygon(0 20vh, 100% 0, 100% 100vh,0 100vh);
    -moz-clip-path: polygon(0 20vh, 100% 0, 100% 100vh,0 100vh);
    clip-path: polygon(0 20vh, 100% 0, 100% 100vh,0 100vh);

 
  }
  @include respond(phone){
    /*-webkit-clip-path: polygon(0 20vh, 100% 0, 100% 100vh,0 100vh);
    -moz-clip-path: polygon(0 20vh, 100% 0, 100% 100vh,0 100vh);
    clip-path: polygon(0 20vh, 100% 0, 100% 100vh,0 100vh);*/
    clip-path:none;
    -webkit-clip-path:none;
  }
  @include respond(phone){ 
    margin-top:-25vh;
  }

  @include respond(tab-port){
    //padding: 3rem 0;  
    margin-top:-25vh;
  }

  //Subelementos
  &__logo-box{
    text-align: center;
    margin-bottom: 8rem;
    margin-top:8rem;
    //border: 1px solid yellow;

    
    @include respond(phone){
      margin-top:0;
    }

    @include respond(tab-port){
      margin-top:10rem;
    }
  } 
  &__logo{
      width:10rem;
      height: auto;
  }

  &__contacts{
    //height: 1rem;
    border-top: 1px solid $cor-cinza-claro-1;
    
    .col-1-of-3{
      @include respond(tab-land){
        margin-bottom:1.5rem !important;
        transform:translateX(-30%);
      }


      @include respond(phone){
        margin-bottom:1rem !important;
      }
    }
  

  }
  &__contact-item{
    color:white !important;
    position:relative;
    margin-top:1.5rem;
    display:inline-block;
    
    &--icon{
      width:4rem;

      @include respond(tab-port){
        width:3rem;
      }

    }
    &--text {
      white-space: nowrap;
      margin-left:4rem;
      text-align:left;
      position:absolute;
      top:0.8rem; 
      @include respond(tab-port){
        top:0.6rem;
        margin-left:3rem;
      }  
    }

  }

  &__copyright{
    color:$cor-cinza-claro-1;
    padding:3rem;
  }
  &__list{
    list-style-type: none;
  }
  &__item{
    display:inline-block;
    &:not(::last-child){
      margin-right:1.5rem;
    }
  }
  &__link{
    &:link,
    &:visited{
      color:$cor-cinza-claro-1;
      text-decoration:none;
      text-transform:uppercase;
      display:inline-block;
    }
    &:hover,
    &:active{
      color:$cor-secundaria-claro;
      box-shadow:0 1rem 2rem rgba($cor-preta,0.4);
      transform:scale(1.1);
    }
  }
}