//header


.header{
  height: 95vh;
  background-image: /*linear-gradient(
                  to top left,
                  rgba($cor-primaria-claro,0.1),
                  rgba($cor-primaria-escuro,0.15)),*/
                  url(../img/banner-principal-Baixo.jpg);
  background-size: cover;
  background-position: top;
  position:relative;
  clip-path: polygon(0 0, 100% 0, 100% 65vh,0 85vh);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh,0 85vh);

  &__logo-box{
    position:absolute;
    top: 25%;
    left: 50%;
    transform:translate(-50%,-50%);
  }

  &__logo{
    height: 13rem;
  }

  &__text-box{
    position:absolute;
    top:58%;    /* Em relação ao elemento pai */
    left:50%;   /* Em relação ao elemento pai */
    transform:translate(-50%,-50%);/* Em relação ao próprio elemento */
    text-align:center;
  }

}