//header


.header{
  height: 95vh;
  background-image: /*linear-gradient(
                  to top left,
                  rgba($cor-primaria-claro,0.1),
                  rgba($cor-primaria-escuro,0.15)),*/
                  url(../img/banner-principal-Baixo_tablet.jpg);
  background-size: cover;
  background-position: top;
  position:relative;
  clip-path: polygon(0 0, 100% 0, 100% 65vh,0 85vh);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh,0 85vh);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 65vh,0 85vh);


  &__logo-box{
    position:absolute;
    top: 20%;
    left:50%;
    transform:translate(-50%,-50%);

    @include respond(phone){
      top: 10%;
    }

    @include respond(tab-port){
      top: 15%;
    }
  }

  &__logo{
    height: 13rem;
    @include respond(phone){
      height: 10rem;
    }
  }

  &__text-box{
    position:absolute;
    top:58%;    /* Em relação ao elemento pai */
    left:50%;   /* Em relação ao elemento pai */
    transform:translate(-50%,-50%);/* Em relação ao próprio elemento */
    text-align:center;
  }

}