//_button

.btn{
  &:link,
  &:visited{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s; /* a transição TEM QUE SER na transition state *. É para fazer uma animação smooth, caso contrário o transform é aplicado com "um salto" */
    position: relative;
    font-size: 1.6rem;    
  }

  &:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($cor-preta,.5);

    &::after{
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active{
    transform: translateY(-1px); /* o -1px é em relação ao estado inicial*/
    box-shadow: 0 5px 10px rgba($cor-preta,.5);
  }

  &--white{
    background-color: $cor-branca;
    color: $cor-cinza-escuro;

    &::after{
      background-color:$cor-branca;
    }
  }

  &--cor-vinho-tinto{
    background-color: $cor-primaria;
    color: $cor-branca;

    &::after{
      background-color: $cor-primaria;
    }
  }

  &--cor-vinho-branco{
    background-color: $cor-secundaria;
    color: $cor-branca;

    &::after{
      background-color: $cor-secundaria;
    }
  }

  &--cor-vinho-rose{
    background-color: $cor-terciaria;
    color: $cor-branca;

    &::after{
      background-color: $cor-terciaria;
    }
  }

  &::after{ /* Por detrás do botão */
    content:""; /* É obrigatório*/
    display: inline-block;/* É obrigatório, mas pode não ser inline-block*/
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position:absolute; /* por o relative em .btn:visited */
    top:0;
    left:0;
    z-index: -1;
    transition: all .4s;
  }

  &--animated {
    animation: moveInFromBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}