.card{
    //border: 1px dashed gray;
    margin: 3rem 11rem 0 11rem;
    padding:6rem 3rem 3rem 3rem;
    box-shadow: 0 1.5rem 4rem rgba($cor-preta,.25);

    &-foto{
        width:40rem;
        margin-left: -8rem;
    }

   
}