.feature-box{
    perspective: 1500rem;
    -moz-perspective: 1500rem;
    position:relative;
    height: 45rem;
    
    &__side{
        padding:2rem;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($cor-preta,.25);
        height: 45rem;
        transition: all 1s ease;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        &--front{
            background-color: rgba($cor-branca,1);
        }
 
        &--back{
            transform: rotateY(180deg);
            background-image: -moz-linear-gradient(to right bottom, rgba($cor-cinza-claro-1,.85),rgba($cor-cinza-escuro,.85));
            background-image: -webkit-linear-gradient(to right bottom, rgba($cor-cinza-claro-1,.85),rgba($cor-cinza-escuro,.85));
            background-image: linear-gradient(to right bottom, rgba($cor-cinza-claro-1,.85),rgba($cor-cinza-escuro,.85));
            &-1{
                background-image:$cor-cinza-claro-1;
                &__heading{
                    font-size: 2.8rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    text-align:right;
                    //border:1px solid red;
                    color:$cor-branca; 
                    position:absolute;
                    top:6rem;
                    left:6rem;
                    width:75%;
                
                }
                &__heading-span{
                    padding:1rem 1.5rem;
                    background-image: -moz-linear-gradient(to right bottom, rgba($cor-primaria-claro,.85),rgba($cor-primaria,.85));
                    background-image: -webkit-linear-gradient(to right bottom, rgba($cor-primaria-claro,.85),rgba($cor-primaria,.85));
                    background-image: linear-gradient(to right bottom, rgba($cor-primaria-claro,.85),rgba($cor-primaria,.85));

                    box-decoration-break: clone;
                }
                &__details{

                }

                &__btn{
                    position:absolute;
                    top:30rem;
                    left:2rem;
                }
            }

            &-2{
                background-image: linear-gradient(to right bottom, $cor-secundaria-claro, $cor-secundaria-escuro);
            }

            &-3{
                background-image: linear-gradient(to right bottom, $cor-secundaria-claro, $cor-secundaria-escuro);
            }

            &-4{
                background-image: linear-gradient(to right bottom, $cor-secundaria-claro, $cor-secundaria-escuro);
            }

       
        }
    }
    
    &:hover &__side--front{
        transform: rotateY(-180deg); 
    }

    &:hover &__side--back{
        transform: rotateY(0);
    }

    //FRONT SIDE STYLING
    &__foto{ 
        width: 20rem;
        margin-top:4rem;
        //margin-left:2.5rem;
    }
    &__btn-box{
        position:absolute;
        left:21rem;
        top:20rem;
    }
    &__btn{
        width:6rem;
    }
}
  
