.feature-box{
    perspective: 1500rem;
    -moz-perspective: 1500rem;
    position:relative;
    height: 40rem;
    
    

    @include respond(tab-land){
        margin:2rem 10rem;
    }

    @include respond(phone){
        margin:1.5rem 4rem;
        //overflow-y:hidden;
    }

    @include respond(mini){
        margin:1.5rem 4rem;
        //overflow-y:hidden;
    }

    


    
    &__side{
        height: 40rem;
        padding:1.5rem;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($cor-preta,.25);
        transition: all 1s ease;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    
        &--front{
            background-color: rgba($cor-branca,1);
        }
 
        &--back{
            transform: rotateY(180deg);
            //Fundo
            background-image: -moz-linear-gradient(to right bottom, rgba($cor-branca,.85),rgba($cor-cinza-claro-1,.85));
            background-image: -webkit-linear-gradient(to right bottom, rgba($cor-branca,.85),rgba($cor-cinza-claro-1,.85));
            background-image: linear-gradient(to right bottom, rgba($cor-branca,.85),rgba($cor-cinza-claro-1,.85));
            &-1,&-2,&-3,&-4{
                //Titulo atrás
                &__heading{
                    font-size: 2.5rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    text-align:right;
                    //border:1px solid red;
                    color:$cor-branca; 
                    position:absolute;
                    top:2rem;
                    left:3.8vmin;
                    width:85%;
                }
                &__heading-span{
                    padding:0.65rem 1.5rem;
                    -webkit-box-decoration-break:clone;
                    box-decoration-break:clone;
                    background-image: -moz-linear-gradient(to right bottom, rgba($cor-primaria-claro,.85),rgba($cor-primaria,.85));
                    background-image: -webkit-linear-gradient(to right bottom, rgba($cor-primaria-claro,.85),rgba($cor-primaria,.85));
                    background-image: linear-gradient(to right bottom, rgba($cor-primaria-claro,.85),rgba($cor-primaria,.85));

                     
                }
                &__details{
                    padding-top:11rem;
                    ul{   
                        list-style: none;
                        li{
                            text-align: center;
                            font-size: 1.3rem;
                            padding:0.2rem;
                            &:not(:last-child){
                                border-bottom:1px solid $cor-cinza-escuro;
                            }
                        }
                    }
                    .key{
                        font-weight: 900;
                    }
                }

                &__button{
                    display:inline-block;
                    white-space: nowrap;
                    padding: 2rem;
                    margin-left:50%;
                    transform: translateX(-50%);
                }        
            } 

            &-1{
                &__details{
                    line-height: 1.7rem;
                    letter-spacing:-0.05rem;
                }
            }

            &-2{
                &__details{
                    line-height: 1.7rem;
                }
                &__heading-span{
                    padding:0.65rem 1.5rem;
                    -webkit-box-decoration-break:clone;
                    box-decoration-break:clone;
                    background-image: -moz-linear-gradient(to right bottom, rgba($cor-secundaria-claro,.85),rgba($cor-secundaria-escuro,.85));
                    background-image: -webkit-linear-gradient(to right bottom, rgba($cor-secundaria-claro,.85),rgba($cor-secundaria-escuro,.85));
                    background-image: linear-gradient(to right bottom, rgba($cor-secundaria-claro,.85),rgba($cor-secundaria-escuro,.85)); 
                }
               
            }

            &-3{
                &__details{
                    line-height: 1.7rem;
                }
                &__heading-span{
                    padding:0.65rem 1.5rem;
                    -webkit-box-decoration-break:clone;
                    box-decoration-break:clone;
                    background-image: -moz-linear-gradient(to right bottom, rgba($cor-secundaria-claro,.85),rgba($cor-secundaria-escuro,.85));
                    background-image: -webkit-linear-gradient(to right bottom, rgba($cor-secundaria-claro,.85),rgba($cor-secundaria-escuro,.85));
                    background-image: linear-gradient(to right bottom, rgba($cor-secundaria-claro,.85),rgba($cor-secundaria-escuro,.85));

                     
                }
                
            }

            &-4{
                &__details{
                    line-height: 1.7rem;
                }
                &__heading-span{
                    padding:0.65rem 1.5rem;
                    -webkit-box-decoration-break:clone;
                    box-decoration-break:clone;
                    background-image: -moz-linear-gradient(to right bottom, rgba($cor-primaria-claro,.85),rgba($cor-primaria,.85));
                    background-image: -webkit-linear-gradient(to right bottom, rgba($cor-primaria-claro,.85),rgba($cor-primaria,.85));
                    background-image: linear-gradient(to right bottom, rgba($cor-primaria-claro,.85),rgba($cor-primaria,.85));    
                }            
            }
        }
    }
    
    &:hover &__side--front{
        transform: rotateY(-180deg); 
    }

    &:hover &__side--back{
        transform: rotateY(0);
  
    }

    //FRONT SIDE STYLING
        &__foto{ 
            width: 20rem;
            margin-top:4rem;
            margin-left:5%;


            @include respond(tab-land){
                margin-left:24%;  
            }
            @include respond(tab-port){
                margin-left:15%;  
            }

            @include respond(phone){
                margin-left:3%;  
              }

        }
        &__btn-box{
            position:absolute;
            right:-1rem;
            top:17rem;
        }
        &__btn{
            width:6rem;
        }
}
  
