.popup{
    height: 100vh;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background-color: rgba($cor-preta, .8);
    z-index:9999;
    opacity:0;
    visibility: hidden;
    transition: all .3s;

    &__content{  
        @include center-horizontal-and-vertical;
        width:90rem;
        background-color:$cor-branca;
        box-shadow: 0 2rem 4rem rgba($cor-preta, .2);
        border-radius: 6px;
        opacity:0;
        //transform: translate(-550%,-50%) scale(0.5);
        transition: all 0.5s 0.2s;
        //overflow: auto;
        padding: 2rem;
        font-size:1.5rem;


        @include respond(tab-land){
            width: 50rem;
            height: 52rem;
            overflow: auto;
        }
        @include respond(tab-port){
            width: 50rem;
            height: 72rem;
            overflow: auto;
        }
        @include respond(phone){
            width: 30rem;
            height: 50rem;
            overflow: auto;
        }

        &--key{
            font-weight: bold;
        }
    }

    &__left{
        vertical-align: top;
        padding: 2rem 2rem;
    }
    &__right{
        vertical-align: top;
        padding: 2rem 2rem;
    }
    &__img{
        display:block;
        width: 100%;
        float:left;
        @include respond(tab-port){
         }
        @include respond(tab-land){
        }
        @include respond(phone){

        }
    }

    &__text{
      font-size: 1.4rem;
      margin-left: -7em;
      @include respond(tab-port){
        margin-left: 0;
      }
      @include respond(tab-land){
          margin-left: 1em;
      }
      @include respond(phone){
         margin-left: 0em;
      }
    }

    &__btn{
        clear: both;
        text-align: center;
        border-top: 1px solid $cor-primaria;
        padding-top: 1rem;
    }

    &:target{
        opacity:1;
        visibility:visible;
    }

    &:target &__content{
        opacity:1;
        transform: translate(50%,-50%) scale(1);
    }

    &__close{
        &:link,
        &:visited{
            color:$cor-cinza-escuro;
            position: absolute;
            top:2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition:all 0.5s;
            line-height: 1;
            @include respond(phone){
                visibility: hidden;
            }
            @include respond(tab-port){
                visibility: hidden;
            }
            @include respond(tab-land){
                visibility: hidden;
            }
        }
        &:hover,
        &:active{
            color:$cor-primaria;
        }

    }

    &__close--bottom{
        &:link,
        &:visited{
            color:$cor-cinza-escuro;
            position: absolute;
            bottom:15rem;
            right: 2.5rem;
            font-size: 5rem;
            text-decoration: none;
            display: inline-block;
            transition:all 0.5s;
            line-height: 1;
            visibility: hidden;
            @include respond(tab-land){
                bottom:58rem;
                right: 28rem;
                visibility: visible;
            }
            @include respond(tab-port){
                bottom:80rem;
                right:15rem;
                visibility: visible;
            }
            @include respond(phone){
                right:4.5rem;
                bottom:52rem;
                visibility: visible;
            }

        }
        &:hover,
        &:active{
            color:$cor-primaria;
        }
    }

}