@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto 100.ttf');
    font-style: normal;
    font-weight: 100;
} 

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto 300.ttf');
    font-style: normal;
    font-weight: 300;
} 

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto 900.ttf');
    font-style: normal;
    font-weight: 900;
} 

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto regular.ttf');
    font-style: normal;
    font-weight: normal;
} 


@font-face {
    font-family: Merriweather;
    src: url('fonts/Merriweather regular.ttf');
    font-style: normal;
    font-weight: normal;
} 

@font-face {
    font-family: Merriweather;
    src: url('fonts/Merriweather 300.ttf');
    font-style: normal;
    font-weight: 300;
} 

@font-face {
    font-family: Merriweather;
    src: url('fonts/Merriweather 900.ttf');
    font-style: normal;
    font-weight: 900;
} 

@font-face {
    font-family: Merriweather;
    src: url('fonts/Merriweather italic.ttf');
    font-style: italic;
    font-weight: normal;
} 

@font-face {
    font-family: Tangerine;
    src: url('fonts/Tangerine regular.ttf');
    font-style: normal;
    font-weight: normal;
} 

@font-face {
    font-family: Tangerine;
    src: url('fonts/Tangerine 700.ttf');
    font-style: normal;
    font-weight: 700;
} 