// typography

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: $default-text-size;
  line-height: 1.7;
  color:$cor-cinza-escuro;
}

.heading-primary{
  color:$cor-branca;
  text-transform: uppercase;
  backface-visibility: hidden; /* Para corrigir um deslizamento no final da anim. (imperceptivel) */
  margin-bottom: 6rem; /* Para o botão: A margem a dar entre o texto e o botão*/


  &--main{
    display: block;
    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: .6rem;
    animation: moveInFromLeft 2s ease-out;
  }

  &--sub{
    margin-top:-1.5rem;
    font-family: 'Tangerine', cursive;
    text-transform: lowercase;
    display: block;
    font-size: 5.5rem;
    font-weight: 700;
    letter-spacing: 0;
    animation: moveInFromRight 2s ease-out;

  }
}

.heading-secondary{ //Estes headings contêm uma linha por detrás do titulo
  font-weight: 700;
  color:$cor-titulo-secundario;
  //border:1px solid red;
  position: relative;

  &--main{
    display: inline-block; 
    position:absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; // Para que os espaços entre as palavras não deem origem a novas linhas
    text-transform: uppercase;
    //border: 1px solid blue;
    font-size: 3.2rem;
    font-weight: 400; 
    letter-spacing: .9rem;
  } 

  &--sub{
    font-family: 'Merriweather', serif;
    font-size: $tamanho-fonte-titulo-secundario-sub;
    font-style: italic;
    font-weight: 400;
    display: table;
    top:$entrelinhamento-titulo;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-transform: lowercase;
    text-align: center;
   
    letter-spacing: .5rem;
    
    &::before,&::after{
      border-top: $espessura-separador solid $cor-separador;
      content:"";
      display:table-cell;
      position:relative;
      top:0.8em;
      width:$separador-subtitulo;


    }
    &::before{right: $espaco-separador-subtitulo}
    &::after{left: $espaco-separador-subtitulo}
  }
}

.heading-terciario{
  position:relative;
  color:$cor-titulo-terciario;
  text-transform: uppercase;
  backface-visibility: hidden; /* Para corrigir um deslizamento no final da anim. (imperceptivel) */
  margin-bottom: 6rem; /* Para o botão: A margem a dar entre o texto e o botão*/


  &--main{
    display: block;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: .5rem;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);

    //animation: moveInFromLeft 3s ease-out;
  }

   
  &--sub{
    font-family: 'Merriweather', serif;
    font-size: $tamanho-fonte-titulo-secundario-sub;
    font-style: italic;
    font-weight: 400;
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .5rem;
    position:absolute;
    left: 50%;
    top:3rem;
    transform: translateX(-50%);
    white-space: nowrap;
    //animation: moveInFromLeft 3s ease-out;

  }
  &--subsub{
    margin-top:0rem;
    text-transform: lowercase;
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0;
    position:absolute;
    left: 50%;
    top:5.6rem;
    transform: translateX(-50%);
    white-space: nowrap;

    //animation: moveInFromRight 1s ease-out;

  }
}

.heading-secondary-inv{
    font-weight: 700;
    color:$cor-titulo-secundario;
    //border:1px solid red;
    position: relative;
    
  

    &--main{
      //border: 1px solid red;
      font-family: 'Merriweather', serif;
      font-size: $tamanho-fonte-titulo-secundario-sub;
      font-style: italic;
      font-weight: 400;
      display: inline-block;
      position:absolute;
      top:0;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap; // Para que os espaços entre as palavras não deem origem a novas linhas
      letter-spacing: .5rem;
    }

    &--sub{
      //border: 1px solid blue;
      font-family: 'Merriweather', serif;
      font-size:5rem;
      font-style: italic;
      font-weight: 400;
      display: table;
      top:$entrelinhamento-titulo;
      position:absolute; 
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      text-transform: uppercase;
      text-align: center;
    
      letter-spacing: .5rem;
      
      
      &::before,&::after{
        border-top: $espessura-separador solid $cor-separador;
        content:"";
        display:table-cell;
        position:relative;
        top:0em;
        width:$separador-subtitulo;


      } 
      &::before{right: calc(#{$espaco-separador-subtitulo} + 2rem)}
      &::after{left: calc(#{$espaco-separador-subtitulo} + 2rem)}
    }
  }

  .card{
    &-foto-titulo{
      width:22rem;
      margin-top: 5rem;
    }
    &-heading{
      text-transform: uppercase;
  
    }
    &-firma{
      text-transform: uppercase;
    }
  }

  .socio{
    &-dados{
        &--nome{
          text-transform: uppercase;
          text-align: center;
        }
        &--cargo{
          text-align: center; 
        }
    }
}


.section-mensagens{
  &-texto{
    &-msg{
      text-align: justify;
      }
    }
}


.paragraph{
  font-size: $default-text-size;
  &:not(:last-child){
    margin-bottom: $espaco-entre-paragrafos;
  }
}
