// typography

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: $default-text-size;
  line-height: 1.7;
  color:$cor-cinza-escuro;
}

.heading-primary{
  color:$cor-branca;
  text-transform: uppercase;
  backface-visibility: hidden; /* Para corrigir um deslizamento no final da anim. (imperceptivel) */
  margin-bottom: 6rem; /* Para o botão: A margem a dar entre o texto e o botão*/


  &--main{
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.6rem;
    white-space: nowrap;
    animation: moveInFromLeft 2s ease-out;
   
    @include respond(phone){
      font-size: 2rem;
      letter-spacing: 0.1rem;
    }


  }

  &--sub{
    margin-top:-1.5rem;
    font-family: 'Tangerine', cursive;
    text-transform: lowercase;
    display: block;
    font-size: 5rem;
    font-weight: normal;//700;
    letter-spacing: 1.2rem;
    white-space: nowrap;
    animation: moveInFromRight 2s ease-out;
    @include respond(phone){
      font-size: 3rem;
      letter-spacing: 0.6rem;
    }

  }
}

.heading-secondary{ //Estes headings contêm uma linha por detrás do titulo
  //font-weight: 700;
  color:$cor-titulo-secundario;
  //border:1px solid red;
  position: relative;

  &--main{
    display: inline-block; 
    position:absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; // Para que os espaços entre as palavras não deem origem a novas linhas
    text-transform: uppercase;
    //border: 1px solid blue;
    font-size: 3.2rem;
    font-weight: 400; 
    letter-spacing: .9rem;

    @include respond(tab-land){
      font-size:2.2rem;
      letter-spacing: .5rem;
    }
    
    @include respond(tab-port){
      font-size:2.2rem;
      letter-spacing: .5rem;
    }

    @include respond(phone){
      font-size:1.5rem;
    }

  } 

  &--sub{
    font-family: 'Merriweather', serif;
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 300;
    display: table;
    top:$entrelinhamento-titulo;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    //text-transform: lowercase;
    text-align: center;
   
    letter-spacing: .5rem;
    
    &::before,&::after{
      border-top: $espessura-separador solid $cor-separador;
      content:"";
      display:table-cell;
      position:relative;
      top:0.8em;
      width:$separador-subtitulo;


    }
    &::before{right: $espaco-separador-subtitulo}
    &::after{left: $espaco-separador-subtitulo}

    @include respond(tab-land){
      font-size:2.2rem;
    }

    @include respond(tab-port){
      font-size:2.2rem;
    }

    @include respond(phone){
      font-size:2rem;
    }


  }
}

.heading-terciario{
  position:relative;
  color:$cor-titulo-terciario;
  text-transform: uppercase;
  backface-visibility: hidden; /* Para corrigir um deslizamento no final da anim. (imperceptivel) */
  margin-bottom: 6rem; /* Para o botão: A margem a dar entre o texto e o botão*/


  &--main{
    display: block;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: .5rem;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);

    //animation: moveInFromLeft 3s ease-out;
  }

   
  &--sub{
    font-family: 'Merriweather', serif;
    font-size: $tamanho-fonte-titulo-secundario-sub;
    font-style: italic;
    font-weight: 400;
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .5rem;
    position:absolute;
    left: 50%;
    top:3rem;
    transform: translateX(-50%);
    white-space: nowrap;
    //animation: moveInFromLeft 3s ease-out;

  }
  &--subsub{
    margin-top:0rem;
    text-transform: lowercase;
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0;
    position:absolute;
    left: 50%;
    top:5.6rem;
    transform: translateX(-50%);
    white-space: nowrap;

    //animation: moveInFromRight 1s ease-out;

  }
}

.heading-secondary-inv{
    font-weight: 900;
    color:$cor-titulo-secundario;
    //border:1px solid green;
    position: relative;

    @include respond(tab-land){
      margin-bottom: 10rem !important;
    }
    
    @include respond(tab-port){
      margin-bottom: 10rem !important;
    }

    @include respond(phone){
      margin-bottom: 10rem !important;
    }
    
    &--main{
      //border: 1px solid red;
      font-family: 'Merriweather', serif;
      font-size: 4rem;
      font-style: italic;
      font-weight: 400;
      display: inline-block;
      position:absolute;
      top:0;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap; // Para que os espaços entre as palavras não deem origem a novas linhas
      letter-spacing: .5rem;

      @include respond(tab-land){
        font-size:3rem;
        letter-spacing: .5rem;
      }
      
      @include respond(tab-port){
        font-size:2.5rem;
        letter-spacing: .5rem;
      }
  
      @include respond(phone){
        font-size:2rem;
      }
    }

    &--sub{
      //border: 1px solid blue;
      font-family: 'Merriweather', serif;
      font-size:5rem;
      font-style: italic;
      font-weight: 400;
      display: table;
      top:$entrelinhamento-titulo;
      position:absolute; 
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      text-transform: uppercase;
      text-align: center;
    
      letter-spacing: .5rem;
      
      
      &::before,&::after{
        border-top: $espessura-separador solid $cor-separador;
        content:"";
        display:table-cell;
        position:relative;
        top:0em;
        width:$separador-subtitulo;


      } 
      &::before{right: calc(#{$espaco-separador-subtitulo} + 2rem)}
      &::after{left: calc(#{$espaco-separador-subtitulo} + 2rem)}

      @include respond(tab-land){
        font-size:3.5rem;
      }
  
      @include respond(tab-port){
        font-size:2.5rem;
      }
  
      @include respond(phone){
        font-size:2rem;
      }
    }
  }

  .card{
    &-foto-titulo{
      width:22rem;
      margin-top: 5rem;
    }
    &-heading{
      text-transform: uppercase;
      color:$cor-primaria;
      &:not(:first-child){
        margin-top:1rem;
      }
  
    }
    &-firma{
      text-transform: uppercase;
    }

    &-local{
      text-transform: uppercase;
      font-weight: 900;
    }

    &-txt{
      line-height: 1.8rem;
    }
  }

  .socio{
    &-dados{
        &--nome{
          text-transform: uppercase;
          text-align: center;
        }
        &--cargo{
          text-align: center; 
        }
    }
}

.section-mensagens{   
  .coluna-mensagens{
    &-titulo{
      font-weight: 900;
      text-transform: uppercase;
      color:$cor-primaria;
    }
    &-texto{
      &:not(:last-child){
        margin-bottom:3rem;
      }
      @include respond(phone){
        font-size: $default-text-size-small;
      }
    }
    &-autor{
      display:inline;
      font-weight: 900;
    }
  }
  
}

.paragraph{
  //font-size: $default-text-size;
  text-align:justify;
  &:not(:last-child){
    margin-bottom: $espaco-entre-paragrafos;
    
    @include respond(tab-land){
      margin-bottom: $espaco-entre-paragrafos-small;
    }
  
    @include respond(tab-port){
      margin-bottom: $espaco-entre-paragrafos-small;
    }
  
    @include respond(phone){
      margin-bottom: $espaco-entre-paragrafos-small;
    }
  }


  @include respond(phone){
    font-size: $default-text-size-small;
  }
}

.footer{
  font-size: 1.4rem;
  text-align: center;
  &__copyright{
    
    font-size:1rem;

    @include respond(tab-port){
      font-size:1rem;
    }

    @include respond(phone){ 
      font-size: 0.8rem;
    }
  }

  @include respond(phone){ 
    font-size: 1rem;
  }
} 
