.u-center-text{text-align: center;}

.u-center-text {margin: 0 auto;}

.u-margin-bottom-big {margin-bottom: 18rem;}

.u-margin-bottom-medium {margin-bottom: 9rem;}

.u-margin-bottom-small {margin-bottom: 4rem;}