.u-center-text{text-align: center;}

.u-center-text {margin: 0 auto;}

.u-invisible {visibility: hidden}

.u-margin-bottom-big {margin-bottom: 18rem;}

.u-margin-bottom-medium {margin-bottom: 9rem;}

.u-margin-bottom-small {margin-bottom: 4rem;}

.u-margin-bottom-xsmall {margin-bottom: 1.5rem;}

.u-margin-top-super {margin-top: 20rem;}

.u-margin-top-big {margin-top: 18rem;}

.u-margin-top-medium {margin-top: 9rem;}

.u-margin-top-small {margin-top: 4rem;}

.u-margin-top-xsmall {margin-top: 1.5rem;}

.u-line-height-paragraph-small{line-height: 1rem;}
.u-line-height-paragraph-medium{line-height: 2rem;}
.u-line-height-paragraph-large{line-height: 4rem;}