.section-historia{
  background-color: $cor-cinza-claro-1;
  padding:25rem 0 15rem 0;
  margin-top:-30vh;

  @include respond(tab-land){
    padding-top:15rem;
  }

  &__text{
    padding-top:$gutter-vertical;
    text-align:justify;
    
    @include respond(tab-land){
      width: 38rem;
      margin-left:-8rem;  
    }

    @include respond(tab-port){
      width: 50rem;
      margin: 0 auto; 
    }

    @include respond(phone){
      width: 28rem;
      margin: 0 auto; 
    }
  }

  &__foto{
    width: 70rem;
    position: absolute;
    right: $body-padding;
    top: 73.5vh;

    @include respond(tab-land){
      width: 50rem;
      top: 78vh;
      
    }

    @include respond(tab-port){
      width: 50rem;
      top: 78vh;
      right: 0;
    }

    @include respond(tab-port){
      width: 0rem;
    }
  } 
}


.section-fichas-tecnicas{
  display:block;
  margin-top:-20rem;
  padding:22rem 0;
  padding-bottom:35rem;
  background-image: linear-gradient(
     to top right,
     rgba($cor-primaria-claro,0),
     rgba($cor-primaria-escuro,1)),
     url(../img/banner-vinhos-TXT-baixa-3_tablet.jpg);
     background-size: cover;
  background-position: 0rem -5rem;

  clip-path: polygon(0 20vh, 100% 0, 100% 80vh,0 100vh);
  -webkit-clip-path: polygon(0 20vh, 100% 0, 100% 80vh,0 100vh);
  -moz-clip-path: polygon(0 20vh, 100% 0, 100% 80vh,0 100vh);

  
  @include respond(tab-land){
    clip-path: none;
    -webkit-clip-path: none;
    -moz-clip-path: none;
    margin-top:-10rem;
    padding-top:11rem;
  }

}  

.section-guia{
  background-color: $cor-cinza-claro-1;
  padding:20rem 0 5rem 0;
  margin-top: -30rem;

  @include respond(tab-land){
    padding-top:10rem;
  }
}

.section-equipa{
  background-color: $cor-cinza-claro-1;
  padding:5rem 0 10rem 0;
  margin-top:0rem;

 
}

.section-quintas{
  background-color: $cor-cinza-claro-1;
  padding:25rem 0;
  margin-top:-30rem;

  @include respond(tab-land){
    margin-top:-25rem; 
  }

  @include respond(tab-port){
    margin-top:-25rem;
  }

  @include respond(phone){
    margin-top:-25rem;
  }
  &-fotos--6{
    @include respond(tab-port){
      width:0;
    }
  }
  &-titulo-main__foto{
    @include respond(tab-land){
      width: 20rem; 
    }

    @include respond(tab-port){
      width: 20rem;
    }

    @include respond(phone){
      width: 20rem;
    }
  }
}

.section-mensagens{   
  background-color: $cor-cinza-claro-1;
  padding:25rem 0;
  margin-top:-40rem;
  
  &-titulo-main{
    margin-bottom:5rem;
    @include respond(tab-land){
      margin-top:-120px;
    }

    @include respond(tab-port){
      margin-top:-120px;
    }

    @include respond(phone){
      margin-top:-120px;
    }

    &__foto{    
      display:block;
      margin:0 auto;
      width:38rem;

      @include respond(tab-land){
        width: 20rem; 
      }
  
      @include respond(tab-port){
        width: 20rem;
      }
  
      @include respond(phone){
        width: 20rem;
      }
    }
  }


  .coluna-mensagens{
    &-titulo{
      border:none;
    }
    &-texto{
      margin-top:3rem;
      &:not(:last-child){
        margin-bottom:3rem;
      }
    }
  }
  
}


 



