/**
 *  // HACK PARA O SAFARI. SÓ O SAFARI É QUE LÊ A SEGUINTE INSTRUÇÃO:
 * selector:not(:root:root) {
      regras
    } */

  /**
   * // HACK PARA O IE
   * _:-ms-lang(x), _:-webkit-full-screen, .selector {property:value}
   */


.section-historia{
  background-color: $cor-cinza-claro-1;
  padding:25rem 0 15rem 0;
  margin-top:-33rem;


  @include respond(tab-land){
  
    margin-top:-23rem; //Compromisso entre aparecer abaixo do header no IE e a secção fica escondida no tablet-land
  }

  @include respond(tab-port){
    margin-top:-35rem;
  }

  @include respond(phone){
    padding-top:35rem;
    margin-top:-40rem;
  }

  &__text{
    padding-top:10rem;
    text-align:justify;
    
    @include respond(tab-land){
      width: 38rem;
      margin-left:-8rem;  
    }

    @include respond(tab-port){
      width: 50rem;
      margin: 0 auto; 
    }

    @include respond(phone){
      width: 28rem;
      margin: 0 auto; 
    }
  }

  &__foto{
    width: 68rem;
    position: absolute;
    right: $body-padding;
    top: 70rem;

  

    @include respond(tab-land){
      width: 50rem;
      top: 78rem;
    }

    @include respond(tab-port){
      width: 50rem;
      top: 78rem;
      right: 0;
    }

    @include respond(tab-port){
      width: 0rem;
    }
  } 
}

.section-fichas-tecnicas{
  
  display:block;
  margin-top:-10rem;
  padding-top:15rem;
  padding-bottom:15rem;
  background-image: linear-gradient(
     to top right,
     rgba($cor-primaria-claro,0),
     rgba($cor-primaria-escuro,1)),
     url(../img/banner-vinhos-TXT-baixa-3_tablet.jpg);
     background-size: cover;
     background-position: top;

  transform:skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  /*
    Se o ecrã tiver a resolução minima de um MAC (192dpi) e o TAMANHO do ecra
    for superior a 37.5em, deve mostrar uma imagem com uma resolução superior. 
    
        OU
    
    Se a DENSIDADE for 2px e o TAMANHO do ecra
    for superior a 37.5em, deve mostrar uma imagem com uma resolução superior.
    
        OU

    Desde que o ecran tenha um TAMANHO superior a 125em, deve mostrar uma
    imagem com uma resolução superior.

  */
  @media only screen and (min-resolution:192dpi) and (min-width:37.5em),
         only screen and (-webkit-min-device-pixel-ratio:2) and (min-width:37.5em),
         only screen and (min-width:125em){
          background-image: linear-gradient(
            to top right,
            rgba($cor-primaria-claro,0),
            rgba($cor-primaria-escuro,1)),
          url(../img/banner-vinhos-TXT-baixa-3_tablet.jpg);
  }


  @include respond(tab-land){
    margin-top:-10rem;
    padding-top:11rem;
  }

}  

.section-guia{
  background-color: $cor-cinza-claro-1;
  padding:20rem 0 5rem 0;
  margin-top: -10rem;

  @include respond(tab-land){
    padding-top:20rem;
  }
}

.section-equipa{
  background-color: $cor-cinza-claro-1;
  padding:5rem 0 10rem 0;
  margin-top:0rem;
}

.section-quintas{
  background-color: $cor-cinza-claro-1;
  padding:25rem 0;
  margin-top:-30rem;

  @include respond(tab-land){
    margin-top:-25rem; 
  }

  @include respond(tab-port){
    margin-top:-25rem;
  }

  @include respond(phone){
    margin-top:-25rem;
  }
  &-fotos--6{
    @include respond(tab-land){
      width:0;
    }
  }
  &-titulo-main__foto{
    @include respond(tab-land){
      width: 20rem; 
    }

    @include respond(tab-port){
      width: 20rem;
    }

    @include respond(phone){
      width: 20rem;
    }
  }
}

.section-mensagens{   
  background-color: $cor-cinza-claro-1;
  padding:25rem 0;
  margin-top:-40rem;
  
  &-titulo-main{
    margin-bottom:5rem;
    @include respond(tab-land){
      margin-top:-120px;
    }

    @include respond(tab-port){
      margin-top:-120px;
    }

    @include respond(phone){
      margin-top:-120px;
    }

    &__foto{    
      display:block;
      margin:0 auto;
      width:38rem;

      @include respond(tab-land){
        width: 20rem; 
      }
  
      @include respond(tab-port){
        width: 20rem;
      }
  
      @include respond(phone){
        width: 20rem;
      }
    }
  }
  .coluna-mensagens{
    &-titulo{
      border:none;
    }
    &-texto{
      margin-top:3rem;
     
      &:not(:last-child){
        margin-bottom:3rem;
      }

    }
  }
  
}